.footer-app {
  background-color: #272727;
  position: fixed;
  box-shadow: #8c9395;
  z-index: 10;
  color: white;
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  @media (min-width: 200px) and (max-width: 600px) {
    justify-content: center;
  }
}

.copyright {
  @media (min-width: 200px) and (max-width: 600px) {
    display: none;
  }
}

.versao {
  @media (min-width: 200px) and (max-width: 600px) {
    display: none;
  }
}
