@import './../../palette';

.fc .fc-h-event {
  //background-color: #ca241d;
  display: block;
  padding: 3px;
  text-align: center;
  border-radius: 4px;
}

.MuiInputBase-inputAdornedEnd {
  display: none;
  background-color: #474bff;
}

/* formulário de reservas */
form[name='form-reserva'] {
  display: flex;
  justify-self: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.motivoReserva {
  width: 100%;
}

.form-control {
  padding: 10px;
}

.form-select {
  margin-left: 2px;
}
.form-select[name='local'] {
  width: 140px;
}

textarea[disabled],
textarea[disabled]::placeholder,
textarea.form-control[disabled],
textarea.form-control[disabled]::placeholder,
input.form-control[disabled],
input.form-control[disabled]::placeholder,
input[type='text'][disabled],
input[type='text'][disabled]::placeholder,
input[type='number'][disabled],
input[type='number'][disabled]::placeholder,
[type='text'].form-control[disabled],
[type='text'].form-control[disabled]::placeholder,
[type='password'].form-control[disabled],
[type='password'].form-control[disabled]::placeholder,
[type='email'].form-control[disabled],
[type='email'].form-control[disabled]::placeholder,
[type='tel'].form-control[disabled],
[type='tel'].form-control[disabled]::placeholder,
[contenteditable].form-control[disabled],
[contenteditable].form-control[disabled]::placeholder {
  color: #323232;
  border: solid 2px #6c757d;
}

//.mb-3 {
//  padding-right: 10px;
//  padding-left: 10px;
//}

.form-check {
  display: flex;
  align-items: center;
  padding: 0 15px 0 30px;
  //margin-left: 10px;
  height: 38px;
  margin-top: auto;
  margin-bottom: auto;
}

.form-check-input[type='checkbox'] {
  padding: 10px;
}

.form-check-label {
  margin-left: 10px;
  margin-top: 3px;
  padding: 0;
}
.modal-footer {
  width: 100%;
}

.fc-h-event:hover {
  //background-color: #722d26;
  animation: ease-in-out;
}

.fc .fc-day-today a {
  //background-color: #f51905;
  //color: #ffffff;
}

.fc .fc-day-past a {
  color: #afafaf;
}

.fc .fc-button-primary {
  background-color: $primary;
}

.fc .fc-button-primary:hover {
  background-color: #043e80;
}

.fc-day-past .fc-h-event {
  background-color: rgb(170, 170, 170);
}

.fc-daygrid-day-frame:hover {
  background-color: rgba(121, 120, 119, 0.1);
  animation: ease-in-out;
}

.fc .fc-bg-event {
  background: rgba(87, 87, 87, 0.75);
  opacity: 70;
  color: white;
  text-align: center;
  padding: 40px 30px 30px 30px;
}

.fc .fc-daygrid-day-number {
  padding: 4px;
  position: relative;
  z-index: 4;
}

.fc .fc-toolbar-title {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .callendarButton {
    font-size: 1rem;
    padding: 20px;
    font-weight: 400;
    margin-bottom: 2px;
    border-radius: 1px;
  }
  .titleCallendar {
    font-size: 0.3rem;
    text-transform: uppercase;
  }
  .fc .fc-event-main {
    font-size: 0;
    text-transform: uppercase;
  }
  .fc .fc-bg-event {
    font-size: 0;
  }
  .fc-h-event {
    padding-left: 0.6rem;
    text-align: center;
    display: block;
  }
  .fc .fc-button-primary {
    font-size: 0.8em;
  }
  .app-container .view-container .card {
    padding: 0.3rem;
  }
  .app-container .view-container {
    padding: 0.1rem;
  }
  .container,
  .container-fluid,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.locais-detail {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
}

.local-titulo {
  margin-left: 22vh;
  margin-top: 0.5vh;
  font-size: 20px;
  position: fixed;
}

@media (max-width: 530px) {
  .local-titulo {
    margin-left: 40vh;
    margin-top: 0.5vh;
    font-size: 15px;
    position: fixed;
  }
}

@media (min-width: 530px) and (max-width: 650px) {
  .local-titulo {
    margin-left: 47vh;
    margin-top: 1vh;
    font-size: 15px;
    position: fixed;
  }
}

@media (min-width: 645px) and (max-width: 900px) {
  .local-titulo {
    margin-left: 60vh;
    margin-top: 1.3vh;
    font-size: 15px;
    position: fixed;
  }
}
