.campoTitle {
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.campoField {
  font-size: 16px;
  font-weight: bold;
}
.containerCard {
  width: 70%;
}
@media (min-width: 200px) and (max-width: 500px) {
  .campoTitle {
    font-size: 6px;
  }
  .campoField {
    font-size: 6px;
  }
  .containerCard {
    width: 100%;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .campoTitle {
    font-size: 9px;
  }
  .campoField {
    font-size: 9px;
  }
  .containerCard {
    width: 10%;
  }
}
@media (min-width: 600px) and (max-width: 750px) {
  .campoTitle {
    font-size: 12px;
  }
  .campoField {
    font-size: 12px;
  }
  .containerCard {
    width: 80%;
  }
}
