.campoTitle {
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.campoField {
  font-size: 14px;
  font-weight: bold;
}
.containerCard {
  width: 50px;
}
.campoInput {
  padding: 10px;
  background: white;
  border-radius: 8px;
}

@media (min-width: 200px) and (max-width: 500px) {
  .campoTitle {
    font-size: 6px;
  }
  .campoField {
    font-size: 6px;
  }
  .containerCard {
    width: 100%;
  }
  .campoInput {
    padding: 5px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .campoTitle {
    font-size: 9px;
  }
  .campoField {
    font-size: 9px;
  }
  .containerCard {
    width: 10%;
  }
  .campoInput {
    padding: 5px;
  }
}
@media (min-width: 600px) and (max-width: 750px) {
  .campoTitle {
    font-size: 12px;
  }
  .campoField {
    font-size: 12px;
  }
  .containerCard {
    width: 50%;
  }
}
